Language: Cpp
BasedOnStyle: Chromium
SeparateDefinitionBlocks: Always
BreakBeforeBinaryOperators: None
PenaltyBreakAssignment: 100
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
